---
import Layout from '@layouts/Default.astro';
---

<Layout title="Discord">
  <h3>Redirecting to Discord...</h3>
  <script type="module">
	window.location.href = 'https://discord.com/invite/RrWayUrkEv';
  </script>
</Layout>
